.about {
  padding: 120px 0 147px;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: url('../img/about/airplane.png');
    top: 57%;
    right: -180px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    @include mobile {
      left: 0;
    }
  }

  ::after {
    position: absolute;
    content: '';
    background-image: url('../img/about/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15% 10%;
    top: 410px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;

    @include small-tablet {
      background-position: 30% 10%;
    }

    @include mobile {
      background-position: 30% 30%;
      top: 550px;
    }

    @include mini {
      background-position: 30% 30%;
    }

    @include smallest {
      background-position: 30% 30%;
      top: 770px;
    }
  }

  // &::after {
  //   position: absolute;
  //   content: '';
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   height: 725px;
  //   background: linear-gradient(0deg, #000 10.42%, rgba(0, 0, 0, 0.63) 59.38%, rgba(0, 0, 0, 0) 100%);
  // }

  &__title {
    margin: 0;
    position: absolute;
    top: 52%;
    right: -5px;
    font-family: 'Roboto';
    font-weight: 900;
    // font-size: 200px;
    // font-size: clamp(1rem, 5rem, 10rem);
    font-size: 8rem;
    line-height: 52%;
    color: #000;
    text-transform: uppercase;
    opacity: 0.2;
    text-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25);

    @include small-tablet {
      display: none;
    }
  }

  &__top {
    margin-bottom: 350px;
  }

  &__top-wrapper {
    max-width: 728px;
  }

  &__top-title {
    margin: 0;
    margin-bottom: 27px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
  }

  &__descr {
    margin: 0;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 133%;
  }

  &__text {
    margin: 0;
    margin-bottom: 64px;
    line-height: 150%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 54px;

    @include small-tablet {
      gap: 40px;
      grid-template-columns: repeat(2, max-content);
      justify-content: left;
    }

    @include mobile {
      // grid-template-columns: repeat(4, max-content);
      gap: 20px;
      justify-content: center;
    }
  }

  &__item {
    padding-top: 40px;
    position: relative;
    color: var(--dark-color);
    white-space: nowrap;

    // &:not(:last-child) {
    //   margin-right: 64px;
    // }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: cover;
      // background-position: right;
    }

    &--level {
      &::before {
        content: url('../img/about/level.svg');
      }
    }

    &--calendar {
      &::before {
        content: url('../img/about/calendar.svg');
      }
    }

    &--clock {
      &::before {
        content: url('../img/about/clock.svg');
      }
    }

    &--building {
      &::before {
        content: url('../img/about/building.svg');
      }
    }
  }

  &__item-title {
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 171%;
  }

  &__item-descr {
    margin: 0;
    font-weight: 700;
    line-height: 150%;
  }

  &__bottom {
    max-width: 662px;
    color: var(--light-color);
  }

  &__bottom-title {
    margin: 0;
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;

    @include mobile {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__blockquote {
    margin: 0;
  }

  &__blockquote-text {
    margin: 0;
    margin-bottom: 13px;
    max-width: 300px;
    font-weight: 300;
    color: #dedede;
  }

  &__author {
    margin: 0;
    font-weight: 500;

    span {
      text-decoration: underline;
    }
  }
}
