.fifth-day {
  padding-bottom: 90px;

  @include mobile {
    padding-bottom: 48px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr minmax(288px, 536px);
    gap: 226px;

    @include tablet {
      gap: 48px;
    }

    @include small-tablet {
      grid-template-columns: 1fr;
    }

    @include mobile {
      gap: 24px;
    }
  }

  &__swiper-wrapper {
    margin-top: 40px;

    @include small-tablet {
      margin-top: 0;
    }
  }

  &__descr {

    @include tablet {
      padding-left: 15px;
    }

    @include small-tablet {
      order: -1;
    }
  }

  &__title {
    color: var(--light-color);
  }

  &__content-text {
    color: var(--light-color);
  }
}
