.first-day {
  padding-bottom: 195px;
  background-color: #000;
  position: relative;
  background-image: url('../img/first-day/first-day-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.31) 66.32%, rgba(0, 0, 0, 0) 100%);
  }

  // &::after {
  //   position: absolute;
  //   content: '';
  //   height: 300px;
  //   left: 0;
  //   right: 0;
  //   bottom: -250px;
  //   background-image: url('../img/first-day/first-day-bg-clouds.svg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 48px;
    }
  }

  &__content {
    flex-shrink: 0;
    max-width: 488px;
    color: var(--light-color);

    @include tablet {
      padding-right: 15px;
      max-width: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 48px;
  }

  &__text {
    margin: 0;
    line-height: 150%;
    color: var(--text-color);

    span {
      font-weight: 600;
      color: var(--light-color);
    }

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__slider-wrapper {
    margin-top: 84px;
    max-width: 705px;

    @include tablet {
      margin-top: 0;
      max-width: 100%;
    }
  }

  &__swiper-wrapper {
    height: 320px;
  }
}
