.hero {
  padding: 163px 0 107px;
  position: relative;

  @include tablet {
    padding: 163px 0 103px;
  }

  &__container {
    display: flex;

    @include tablet {
      flex-direction: column;
    }
  }

  &__swiper-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__swiper-background-img {
    width: 100%;
    height: 100%;
  }

  &__content {
    flex-shrink: 0;
    max-width: 650px;
    color: var(--light-color);
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 64px;
    line-height: 100%;

    @include mobile {
      font-size: 48px;
    }
  }

  &__date {
    margin-bottom: 40px;
    padding: 5px 25px;
    max-width: 480px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 187%;

    @include mobile {
      padding: 16px 8px;
      font-size: 18px;
    }
  }

  &__date-text {
    margin: 0;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    margin-bottom: 38px;
    max-width: 385px;
    font-size: 20px;
    line-height: 140%;

    @include mobile {
      font-size: 18px;
    }
  }

  &__link {
    margin-bottom: 171px;
    padding-right: 82px;
    display: inline-block;
    position: relative;
    color: var(--light-color);
    transition: color 0.3s ease-in-out;
    font-size: 18px;
    line-height: 133%;
    text-decoration: underline;

    &:hover {
      color: var(--orange-color);

      &::after {
        border-color: var(--orange-color);
        transition: border-color 0.3s ease-in-out;
      }
    }

    &::after {
      position: absolute;
      content: '';
      border: 1px solid var(--light-color);
      border-radius: 50%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 64px;
      height: 64px;
      transition: border-color 0.3s ease-in-out;

      @include mobile {
        width: 48px;
        height: 48px;
      }
    }

    @include tablet {
      margin-bottom: 75px;
    }
  }

  &__link-svg {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 12px;
    fill: currentColor;

    @include mobile {
      right: 13px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    @include tablet {
      position: absolute;
      right: 50px;
      bottom: 42px;
    }
  }

  &__social-item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__social-link {
    color: var(--light-color);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--orange-color);
    }
  }

  &__social-svg {
    width: 18px;
    height: 20px;
    fill: currentColor;
  }

  &__swiper {
    align-self: flex-end;
  }

  &__slide {
    position: relative;
  }
}
