.second-day {
  padding: 111px 0 80px;
  background-image: url('../img/second-day/second-bg.png');
  background-repeat: no-repeat;
  background-position: top right;

  @include tablet {
    background-size: 600px;
    background-position: right 40%;
  }

  @include small-tablet {
    background-size: 500px;
    background-position: right 40%;
  }

  @include mobile {
    padding: 60px 0 65px;
    background-image: none;
  }

  &__container-content {
    padding-left: max(15px, calc((100% - var(--content-width))));
  }

  &__title {
    max-width: 856px;
    position: relative;
    z-index: 10;
  }

  &__content {
    margin-bottom: 64px;

    @include medium-tablet {
      margin-bottom: 48px;
    }
  }

  &__content-text {
    margin: 0;
    max-width: 550px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__slider-container {
    display: grid;
    grid-template-columns: 1fr minmax(287px, 478px);
    gap: 35px;

    @include medium-tablet {
      grid-template-columns: 1fr;
    }
  }

  &__swiper-wrapper {
    align-items: flex-start;
  }

  &__slide {
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25);
  }

  &__descr {
    margin-bottom: 58px;
    align-self: flex-end;

    @include medium-tablet {
      margin-bottom: 48px;
    }
  }
}
