.second-day {
  padding: 111px 0 80px;
  position: relative;
  background-image: url('../img/second-day/second-bg.png');
  background-repeat: no-repeat;
  background-position: top right;

  // &::before {
  //   position: absolute;
  //   content: '';
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-image: url('../img/second-day/second-bg.png');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: top right;
  // }

  &::after {
    position: absolute;
    content: '';
    height: 300px;
    top: -116px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/first-day/first-day-bg-clouds.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }

  @include tablet {
    background-size: 600px;
    background-position: right 40%;
  }

  @include small-tablet {
    background-size: 500px;
    background-position: right 40%;
  }

  @include mobile {
    padding: 60px 0 65px;
    background-image: none;
  }

  &__title {
    max-width: 856px;
    position: relative;
    z-index: 10;
  }

  &__container-content {
    padding-left: max(15px, calc((100% - var(--content-width))));
  }

  &__content {
    margin-bottom: 64px;

    @include medium-tablet {
      margin-bottom: 48px;
    }
  }

  &__content-text {
    margin: 0;
    max-width: 550px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__slider-container {
    display: grid;
    grid-template-columns: 1fr 478px;
    gap: 35px;
  }

  &__swiper-wrapper {
    align-items: flex-start;

    *img {
      width: 320px;
      height: 320px;
    }
  }

  &__slide {
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25);
  }

  &__descr {
    margin-bottom: 58px;
    align-self: flex-end;
  }
}
