.sixth-day {
  padding-top: 90px;
  position: relative;
  z-index: 5;

  @include medium-tablet {
    padding-top: 0;
  }

  &__slider-container {
    display: grid;
    grid-template-columns: minmax(288px, 506px) 1fr;
    gap: 136px;

    @include medium-tablet {
      grid-template-columns: 1fr;
    }

    @include tablet {
      gap: 48px;
    }

    @include mobile {
      gap: 24px;
    }
  }

  &__content {
    color: var(--light-color);

    @include medium-tablet {
      padding-right: 15px;
    }
  }

  &__content-main {
    margin-bottom: 55px;
  }
}
