.swiper-main {
  box-sizing: border-box;
  padding-bottom: 58px;
  width: 100%;

  &__wrapper {
    align-items: flex-end;
  }

  &__btn {
    display: block;
    position: relative;
    height: 100%;
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      opacity: 0.3;
    }
  }

  &__img {
    display: block;
    // height: 209px;
    height: 100%;
  }

  &__slide-effect {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      height: 160px;
      background: rgba(0, 0, 0, 0) linear-gradient(0deg, #000 1.71%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0) 100%);
      cursor: pointer;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-weight: 700;
    font-size: 12px;
    line-height: 171%;
    color: var(--light-color);

    p {
      margin: 0;
    }

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &--advanced {
      padding: 0 16px 24px;
      text-align: left;
      left: 12px;
      bottom: 0;
      z-index: 10;
    }

    &--small {
      font-weight: 400;
      color: var(--grey-color);
    }
  }

  &__prev,
  &__next {
    width: 38px;
    height: 38px;
    top: auto;
    bottom: 0;
    color: var(--light-color);
    transition: color 0.3s ease-in-out;

    &::after {
      content: '';
      width: 38px;
      height: 38px;
      border: 1px solid var(--light-color);
      border-radius: 50%;
      transition: border-color 0.3s ease-in-out;
    }

    &--black {
      &::after {
        border: 1px solid #c7c7c7;
      }
    }

    &:hover {
      color: var(--orange-color);

      &::after {
        border-color: var(--orange-color);
        transition: border-color 0.3s ease-in-out;
      }
    }
  }

  &__prev {
    left: 0;

    svg {
      transform: rotate(180deg);
    }
  }

  &__next {
    // right: auto;
    left: 54px;
  }

  &__svg {
    width: 15px;
    height: 7px;
    fill: currentColor;
    position: absolute;

    &--black {
      fill: var(--dark-color);
    }
  }

  .swiper-slide {
    width: fit-content;
    height: auto;

    &:not(:last-child) {
      margin-right: 34px;
    }

    @include mobile {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    &--second-day {
      &:not(:last-child) {
        margin-right: 0;
        margin-left: 32px;

        @include mobile {
          margin-left: 15px;
        }
      }
    }
  }
}

.swiper-main__btn::after {
  transition: opacity 0.3s ease-in-out;
}

.swiper-slide-active {
  .swiper-main__btn {
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
  }

  .swiper-main__btn::after {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

.swiper-slide-active.hero__slide {
  .swiper-main__img {
    width: 269px;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
}

.swiper-slide-active.first-day__slide {
  .swiper-main__img {
    width: 320px;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
}


.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: '';
}

// .swiper-button-prev, .swiper-rtl .swiper-button-next {
//   left: auto;
//   right: 0;
// }

// .swiper-button-next, .swiper-rtl .swiper-button-prev {
//   left: auto;
//   right: 54px;
// }

.swiper-rtl .swiper-button-next {
  left: auto;
  right: 0;
}


 .swiper-rtl .swiper-button-prev {
  left: auto;
  right: 54px;
}
