<section class="about" id="about">
  <h2 class="about__title">Камчатка</h2>
  <div class="container about__container">
    <div class="about__top">
      <div class="about__top-wrapper">
        <h2 class="about__top-title">Путешествие на край света начинается</h2>
        <p class="about__descr">Ваша мечта осуществилась, вы приняли решение, и вам предстоит путешествие на край света.</p>
        <p class="about__text">
          Этот маршрут лучший вариант для тех, кто хочет ощутить, как живёт самая молодая земля нашей планеты, многое увидеть, испытать на себе и полюбить, увезти целый рюкзак незабываемых чувств и впечатлений. Каждый день вы будете выезжать на радиальные маршруты, а проживать в комфортабельных двухместных номерах.
        </p>
      </div>
      <ul class="about__list list-reset">
        <li class="about__item about__item--level">
          <h3 class="about__item-title">Сложность</h3>
          <p class="about__item-descr">Для семейного отдыха</p>
        </li>
        <li class="about__item about__item--calendar">
          <h3 class="about__item-title">Период</h3>
          <p class="about__item-descr">Июль - сентябрь</p>
        </li>
        <li class="about__item about__item--clock">
          <h3 class="about__item-title">Длительность</h3>
          <p class="about__item-descr">7 дней / 6 ночей</p>
        </li>
        <li class="about__item about__item--building">
          <h3 class="about__item-title">Проживание</h3>
          <p class="about__item-descr">Отель, без палаток</p>
        </li>
      </ul>
    </div>
    <div class="about__bottom">
      <h2 class="about__bottom-title">
        Камчатка – земля великолепной заснеженной природы, действующих вулканов и диких мест, где ещё не ступала нога человека.
      </h2>
      <blockquote class="about__blockquote">
        <p class="about__blockquote-text">
          “Когда мы подлетали к Камчатке, у меня захватило дух от увиденного. Это за гранью реальности. Невероятно!”
        </p>
        <cite class="about__cite">
          <p class="about__author">Максим, <span>@max_max</span></p>
        </cite>
      </blockquote>
    </div>
  </div>
  <!-- <div class="about__bg-wrapper">
    <picture class="about">
      <source srcset="./img/about/about-bg.webp" type="image/webp">
      <source srcset="./img/catalog/mobile/@img.png" media="(max-width: 576px)">
      <img loading="lazy" src="./img/about/about-bg-test.jpg" class="image" alt="Самолет на фоне гор Камчатки">
    </picture>
    <img loading="lazy" src="./img/about/about-bg-test.jpg" class="image about__img" alt="Самолет на фоне гор Камчатки">
  </div> -->
</section>
