<section class="eight-day">
  <div class="container">
    <picture>
      <source srcset="img/eight-day-bg.webp" type="image/webp">
      <img loading="lazy" src="img/eight-day-bg.png" class="eight-day__image" width="1468" height="718" alt="Горные пейзажи Камчатки">
    </picture>
    <div class="eight-day__inner">
      <div class="eight-day__text-box">
        <h2 class="eight-day__title days-title text-circle"><span>День 8.</span> Отъезд с Камчатки. Трансфер в аэропорт</h2>
        <p class="eight-day__text">
          Заезд на рынок, прощальное посещение «медведей», фото на память. Возвращайтесь следующим летом!
        </p>
      </div>
    </div>
  </div>
</section>
