<section class="fifth-day">
  <div class="fifth-day__container container-swiper-left">

      <div class="fifth-day__slider-wrapper" dir="rtl">
        <div class="swiper swiper-main swiper-main--fifth-day">
          <div class="swiper-wrapper swiper-main__wrapper fifth-day__swiper-wrapper">
            <div class="swiper-slide swiper-slide--fifth-day swiper-main__slide-effect fifth-day__slide" data-graph-path="destination-1">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/paratunka-3.png" alt="Горные вершины Паратунки" class="swiper-main__img swiper-main__img" width="280"
                  height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Паратунка</p>
                <p class="swiper-main__text swiper-main__text-box--small">Бальнеологический курорт с удивительным микроклиматом.</p>
                </div>
              </button>
            </div>
            <div class="swiper-slide swiper-slide--fifth-day swiper-main__slide-effect fifth-day__slide" data-graph-path="destination-4">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/statue.png" alt="Памятник 'Здесь начинается Россия'" class="swiper-main__img swiper-main__img" width="280"
                  height="280">
                  <div class="swiper-main__text-box swiper-main__text-box--advanced">
                    <p class="swiper-main__text">Памятник “Здесь начинается Россия”</p>
                    <p class="swiper-main__text swiper-main__text-box--small">Гости Камчатки по традиции делают фото в начале и в конце путешествий.</p>
                  </div>
              </button>
            </div>
            <div class="swiper-slide swiper-slide--fifth-day swiper-main__slide-effect fifth-day__slide" data-graph-path="destination-1">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/paratunka-3.png" alt="Горные вершины Паратунки" class="swiper-main__img swiper-main__img" width="280"
                  height="280">
                  <div class="swiper-main__text-box swiper-main__text-box--advanced">
                    <p class="swiper-main__text">Паратунка</p>
                    <p class="swiper-main__text swiper-main__text-box--small">Бальнеологический курорт с удивительным микроклиматом.</p>
                  </div>
              </button>
            </div>
            <div class="swiper-slide swiper-slide--fifth-day swiper-main__slide-effect fifth-day__slide" data-graph-path="destination-4">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/statue.png" alt="Памятник 'Здесь начинается Россия'" class="swiper-main__img swiper-main__img" width="280"
                  height="280">
                  <div class="swiper-main__text-box swiper-main__text-box--advanced">
                    <p class="swiper-main__text">Памятник “Здесь начинается Россия”</p>
                    <p class="swiper-main__text swiper-main__text-box--small">Гости Камчатки по традиции делают фото в начале и в конце путешествий.</p>
                  </div>
              </button>
            </div>
          </div>
          <div class="swiper-button-prev swiper-main__prev swiper-button-prev--fifth-day">
            <svg class="swiper-main__svg">
              <use xlink:href="img/sprite.svg#arrow-slide"></use>
            </svg>
          </div>
          <div class="swiper-button-next swiper-main__next swiper-button-next--fifth-day">
            <svg class="swiper-main__svg">
              <use xlink:href="img/sprite.svg#arrow-slide"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="fifth-day__descr">
        <div class="fifth-day__content text-circle">
          <h2 class="fifth-day__title days-title">
            <span>День 5.</span> Морская прогулка к острову Старичков
          </h2>
          <p class="fifth-day__content-text days-text">
            Инструктаж по поведению группы при передвижении на плавсредствах, приему таблеток от морской болезни.
          </p>
          <p class="fifth-day__content-text days-text">
            Выезд на причал.  Морская прогулка по Авачинской бухте. Осмотр панорамы города Петропавловска-Камчатского, Авачинской губы и Авачинского залива. Маршрут пролегает мимо бухты Тихая, острова Бабушкин камень, мыса Станицкого, камней «Три брата». Увлекательная возможность донной рыбалки на терпуга, ленка, камбалу у «Трех братьев», мыса Безымянный, у острова Старичков.
          </p>
          <p class="fifth-day__content-text days-text">
            Осмотр птичьих базаров - смешанных колонии кайр, моевок и бакланов. Трансфер в гостиницу.
          </p>
          <p class="fifth-day__content-text days-text">
            Продолжительность 6 часов.
          </p>
        </div>
      </div>

  </div>
</section>
