<section class="first-day">
  <div class="container first-day__container">
    <div class="first-day__content text-circle">
      <h2 class="first-day__title days-title">
        <span>День 1. </span>Прибытие. Встреча в аэропорту и размещение
      </h2>
      <p class="first-day__text">
        С высоты птичьего полета вы увидите знаменитые «домашние»  вулканы – Корякский, Авачинский и Козельский. У выхода в аэропорту <span>вас встретят с табличкой «ДРИМ ТУР»</span>
      </p>
      <p class="first-day__text">
        <span>По пути в гостиницу сбор средств</span> с членов группы, инструктаж по программе этого дня (бассейн с термальной водой, шашлык, знакомство с группой, алкоголь, фейерверк не раньше 20:00).
      </p>
      <p class="first-day__text">
        После выезд (вид транспорта зависит от величины группы) на базу отдыха в курортный поселок Паратунка.
      </p>
      <p class="first-day__text">
        <span>Вечером</span>, после прибытия на Камчатку всех участников (если рейсы разные),  <span>общая встреча</span>, проверка снаряжения,  обсуждение программы завтрашнего дня.
      </p>
    </div>
    <div class="first-day__slider-wrapper">
      <div class="swiper swiper-main">
        <div class="swiper-wrapper swiper-main__wrapper first-day__swiper-wrapper">
          <div class="swiper-slide swiper-main__slide-effect first-day__slide">
            <button class="swiper-main__btn btn-reset">
              <img src="./img/first-day/slide-1.png" alt="Горные вершины Паратунки" class="swiper-main__img" width="280"
                height="280">
              <div class="swiper-main__text-box swiper-main__text-box--advanced">
                <p class="swiper-main__text">Паратунка</p>
              <p class="swiper-main__text swiper-main__text-box--small">Бальнеологический курорт с удивительным микроклиматом.</p>
              </div>
            </button>
          </div>
          <div class="swiper-slide swiper-main__slide-effect first-day__slide">
            <button class="swiper-main__btn btn-reset">
              <img src="./img/first-day/slide-2.png" alt="Памятник 'Здесь начинается Россия'" class="swiper-main__img" width="280"
                height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Памятник “Здесь начинается Россия”</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Гости Камчатки по традиции делают фото в начале и в конце путешествий.</p>
                </div>
            </button>
          </div>
          <div class="swiper-slide swiper-main__slide-effect first-day__slide">
            <button class="swiper-main__btn btn-reset">
              <img src="./img/first-day/slide-1.png" alt="Горные вершины Паратунки" class="swiper-main__img" width="280"
                height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Паратунка</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Бальнеологический курорт с удивительным микроклиматом.</p>
                </div>
            </button>
          </div>
          <div class="swiper-slide swiper-main__slide-effect first-day__slide">
            <button class="swiper-main__btn btn-reset">
              <img src="./img/first-day/slide-2.png" alt="Памятник 'Здесь начинается Россия'" class="swiper-main__img" width="280"
                height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Памятник “Здесь начинается Россия”</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Гости Камчатки по традиции делают фото в начале и в конце путешествий.</p>
                </div>
            </button>
          </div>
        </div>
        <div class="swiper-button-prev swiper-main__prev">
          <svg class="swiper-main__svg">
            <use xlink:href="img/sprite.svg#arrow-slide"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper-main__next">
          <svg class="swiper-main__svg">
            <use xlink:href="img/sprite.svg#arrow-slide"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
