<footer class="footer">
  <div class="container">
    <ul class="footer__content-list list-reset">
      <li class="footer__links footer__content-item list-reset">
        <a href="#" class="footer__logo">
          <img src="img/logo-footer.png" alt="Логотип Dreamkam Tour" width="167" height="37" class="footer__img">
        </a>
        <ul class="footer__list list-reset">
          <li class="footer__item">
            <a href="#about" class="footer__item-link">Расписание тура</a>
          </li>
          <li class="footer__item">
            <a href="#price" class="footer__item-link">Стоимость</a>
          </li>
          <li class="footer__item">
            <a href="#price" class="footer__item-link">Как записаться</a>
          </li>
          <li class="footer__item">
            <a href="#team" class="footer__item-link">Команда</a>
          </li>
        </ul>
      </li>
      <li class="footer__galery footer__content-item list-reset">
        <div class="footer__galery-action">
          <p class="footer__galery-text">@dreamkamtour</p>
          <a href="https://www.instagram.com/" target="_blank" class="footer__galery-link">Подписаться</a>
        </div>
        <ul class="footer__galery-list list-reset">
          <li class="footer__galery-item">
            <img src="img/footer/1.png" alt="Автобус" width="105" height="112" class="footer__galery-img">
          </li>
          <li class="footer__galery-item">
            <img src="img/footer/2.png" alt="Морской котик" width="105" height="112" class="footer__galery-img">
          </li>
          <li class="footer__galery-item">
            <img src="img/footer/3.png" alt="Снежная дорога с авто" width="105" height="112" class="footer__galery-img">
          </li>
          <li class="footer__galery-item">
            <img src="img/footer/4.png" alt="Прыжки с веревкой" width="105" height="112" class="footer__galery-img">
          </li>
          <li class="footer__galery-item">
            <img src="img/footer/3.png" alt="Снежная дорога с авто" width="105" height="112" class="footer__galery-img">
          </li>
          <li class="footer__galery-item">
            <img src="img/footer/1.png" alt="Автобус" width="105" height="112" class="footer__galery-img">
          </li>
        </ul>
      </li>
      <li class="footer__socials footer__content-item list-reset">
        <div class="footer__review">
          <div class="footer__review-inner">
            <a href="https://www.youtube.com/watch?v=A7pah7MUwaY" data-fancybox class="footer__review-video">
              <picture class="footer__review-picture">
                <source srcset="img/footer/video-review.webp" type="image/webp">
                <img loading="lazy" src="img/footer/video-review.png" class="footer__review-img" width="63" height="102" alt="Видео-визитка Dreamkam Tour">
              </picture>
            </a>
            <div class="footer__review-descr">
              <p class="footer__review-text">
                Смотрите видео отзывы наших клиентов
              </p>
              <a href="https://www.instagram.com/" target="_blank" class="footer__review-link">Перейти в Instagram</a>
            </div>
          </div>
        </div>
        <p class="footer__socials-text">Социальные сети</p>
        <ul class="list-reset social" title="Ссылки на социальные сети">
          <li class="social__item"><a href="https://www.instagram.com/" target="_blank" class="social__link social__link--review social__link--instagram"
              aria-label="Наша страничка в Инстаграм">
              <svg>
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a></li>
          <li class="social__item"><a href="https://www.facebook.com/" target="_blank" class="social__link social__link--review social__link--fb"
              aria-label="Наша страничка в Фейсбук">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a></li>
          <li class="social__item"><a href="https://www.vk.com/" target="_blank" class="social__link social__link--review social__link--vk"
              aria-label="Наша страничка во ВКонтакте">
              <svg>
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a></li>
        </ul>
      </li>
      <li class="footer__contacts footer__content-item list-reset">
        <div class="footer__contacts-tel">
          <a href="tel:77603542323" class="footer__contacts-link">+ 7 (760) 354-23-23</a>
          <p class="footer__contacts-text">Работаем с 9:00 до 18:00</p>
        </div>
        <div class="footer__contacts-address">
          <a href="mailto:info@dreamkamtour.ru" class="footer__contacts-link footer__contacts-link--email">info@dreamkamtour.ru</a>
          <p class="footer__contacts-text footer__contacts-text--address">ул. Рубиннштерна, 41</p>
        </div>
      </li>
    </ul>
    <div class="footer__copyright">
      <p class="footer__copyright-text">2021 © Dreamkam Tour</p>
    </div>
  </div>
</footer>
<div class="overlay" data-menu-overlay></div>
