<footer class="footer">
  <div class="container footer__container">
    <div class="footer__links">
      <img src="img/logo-footer.png" alt="Логотип Dreamkam Tour" width="167" height="37" class="footer__img">
      <ul class="footer__list list-reset">
        <li class="footer__item">
          <a href="#" class="footer__item-link">Расписание тура</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__item-link">Стоимость</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__item-link">Как записаться</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__item-link">Команда</a>
        </li>
      </ul>
    </div>
    <div class="footer__galery">
      <div class="footer__galery-top">
        <p class="footer__galery-text">@dreamkamtour</p>
        <a href="#" class="footer__galery-link">Подписаться</a>
      </div>
      <ul class="footer__galery-list list-reset">
        <li class="footer__galery-item">
          <img src="img/footer/1.jpg" alt="Автобус" width="105" height="112" class="footer__galery-img">
        </li>
        <li class="footer__galery-item">
          <img src="img/footer/2.jpg" alt="Морской котик" width="105" height="112" class="footer__galery-img">
        </li>
        <li class="footer__galery-item">
          <img src="img/footer/3.jpg" alt="Снежная дорога с авто" width="105" height="112" class="footer__galery-img">
        </li>
        <li class="footer__galery-item">
          <img src="img/footer/4.jpg" alt="Прыжки с веревкой" width="105" height="112" class="footer__galery-img">
        </li>
        <li class="footer__galery-item">
          <img src="img/footer/5.jpg" alt="Снежная дорога с авто" width="105" height="112" class="footer__galery-img">
        </li>
        <li class="footer__galery-item">
          <img src="img/footer/1.jpg" alt="Автобус" width="105" height="112" class="footer__galery-img">
        </li>
      </ul>
    </div>
    <div class="footer__socials">
      <div class="footer__review">
        <a href="https://www.youtube.com/watch?v=A7pah7MUwaY" data-fancybox class="footer__review-link">
          <picture class="footer__review-picture">
            <source srcset="img/footer/video-review.webp" type="image/webp">
            <img loading="lazy" src="img/footer/video-review.png" class="footer__review-img" width="63" height="102" alt="Видео-визитка Dreamkam Tour">
          </picture>
        </a>
      </div>
    </div>
  </div>
</footer>
<div class="overlay" data-menu-overlay></div>
