<section class="fourth-day">
  <div class="fourth-day__container container-swiper-right">
    <div class="fourth-day__slider-container">
      <div class="fourth-day__content text-circle">
        <h2 class="fourth-day__title days-title">
          <span>День 4. </span>Экскурсия к подножию Авачинского вулкана
        </h2>
        <p class="fourth-day__text days-text">
          Инструктаж по поведению группы в горах. Проверка снаряжения.Выезд на автомашине на вулканическое плато (высота
          900 м) к подножию Авачинского вулкана (2 часа).
        </p>
        <p class="fourth-day__text days-text">
          Пешеходная экскурсия к горе Верблюд, представляющую собой вулканическую экструзию. Находится в седловине между
          Корякским и Авачинским вулканами, относительная высота 100-150 м, ширина - около 100 м и по длине она
          протягивается на 500 м., состоит из трех сросшихся блоков.
        </p>
        <p class="fourth-day__text days-text">
          Обед. Поездка в Паратунку с купанием.
        </p>
        <p class="fourth-day__text days-text">
          Продолжительность – 8 часов. Трансфер в гостиницу.
        </p>
      </div>
      <div class="fourth-day__slider-wrapper">
        <div class="swiper swiper-main">
          <div class="swiper-wrapper swiper-main__wrapper fourth-day__swiper-wrapper">
            <div class="swiper-slide swiper-slide--fourth-day swiper-main__slide-effect fourth-day__slide"
              data-graph-path="destination-1">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/paratunka-2.png" alt="Горные вершины Паратунки" class="swiper-main__img"
                  width="280" height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Паратунка</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Бальнеологический курорт с удивительным
                    микроклиматом.</p>
                </div>
              </button>
            </div>
            <div class="swiper-slide swiper-main__slide-effect fourth-day__slide" data-graph-path="destination-4">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/statue.png" alt="Памятник 'Здесь начинается Россия'" class="swiper-main__img"
                  width="280" height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Памятник “Здесь начинается Россия”</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Гости Камчатки по традиции делают фото в
                    начале и в конце путешествий.</p>
                </div>
              </button>
            </div>
            <div class="swiper-slide swiper-main__slide-effect fourth-day__slide" data-graph-path="destination-1">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/paratunka-2.png" alt="Горные вершины Паратунки" class="swiper-main__img"
                  width="280" height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Паратунка</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Бальнеологический курорт с удивительным
                    микроклиматом.</p>
                </div>
              </button>
            </div>
            <div class="swiper-slide swiper-main__slide-effect fourth-day__slide" data-graph-path="destination-4">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/statue.png" alt="Памятник 'Здесь начинается Россия'" class="swiper-main__img"
                  width="280" height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Памятник “Здесь начинается Россия”</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Гости Камчатки по традиции делают фото в
                    начале и в конце путешествий.</p>
                </div>
              </button>
            </div>
          </div>
          <div class="swiper-button-prev swiper-main__prev">
            <svg class="swiper-main__svg">
              <use xlink:href="img/sprite.svg#arrow-slide"></use>
            </svg>
          </div>
          <div class="swiper-button-next swiper-main__next">
            <svg class="swiper-main__svg">
              <use xlink:href="img/sprite.svg#arrow-slide"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
