<header class="header">
  <div class="container header__container">
    <picture class="header__picture">
      <source srcset="./img/logo.webp" type="image/webp">
      <img loading="lazy" src="./img/logo.svg" class="image header__logo" width="168" height="38" alt="Логотип Dreamkam Tour">
    </picture>
    <nav class="nav header__nav" title="Навигация" data-menu>
      <ul class="list-reset nav__list" data-menu-list>
        <li class="nav__item" data-menu-item>
          <a href="#" class="nav__link">Расписание тура</a>
        </li>
        <li class="nav__item" data-menu-item>
          <a href="#" class="nav__link">Как записаться</a>
        </li>
        <li class="nav__item" data-menu-item>
          <a href="#" class="nav__link">Команда</a>
        </li>
      </ul>
    </nav>
    <button class="header__btn header__btn--mobile btn-reset" data-burger-mobile>Забронировать</button>
    <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
