<section class="info">
  <div class="container info__container">
    <h2 class="info__title">
      На протяжении маршрута вас ожидает:
    </h2>
    <div class="info__list list-reset">
      <li class="info__item">
        <img src="img/info/info-1.png" alt="Аудиовоспроизводящее устройство" class="info__img">
        <div class="info__item-descr">
          <h3 class="info__subtitle">Аудиосопровождение</h3>
          <p class="info__text">
            Новый способ увидеть и услышать, то место, где вы находитесь. С помощью аудиогида вы сможете совершить увлекательную экскурсию по городу.
          </p>
        </div>
      </li>
      <li class="info__item">
        <img src="img/info/info-2.png" alt="Поднос с едой" class="info__img">
        <div class="info__item-descr">
          <h3 class="info__subtitle">Разнообразное питание</h3>
          <p class="info__text">
            Каждый обед мы готовим с большой любовью. Кормим вас традиционными камчатскими блюдами. Еда - залог хорошего отдыха!
          </p>
        </div>
      </li>
      <li class="info__item">
        <img src="img/info/info-3.png" alt="Фотография туристов" class="info__img">
        <div class="info__item-descr">
          <h3 class="info__subtitle">Безопасность на маршруте</h3>
          <p class="info__text">
            Наша команда проводит инструктаж, рассказывает как правильно себя вести, как избежать опасных ситуаций.
          </p>
        </div>
      </li>
      <li class="info__item">
        <img src="img/info/info-4.png" alt="Фотография туристов на фоне гор" class="info__img">
        <div class="info__item-descr">
          <h3 class="info__subtitle">Потрясающие фото</h3>
          <p class="info__text">
            Можете не переживать, что не успели сделать фото. Наш фотограф успевает везде и за всеми. У вас будут самые лучшие фото!
          </p>
        </div>
      </li>
    </div>
  </div>
</section>
