<section class="price">
  <div class="container">
    <div class="price__top">
      <h2 class="price__title">Стоимость участия</h2>
      <div class="price__inner">
        <ul class="price__list list-reset">
          <li class="price__item">
            <p class="price__descr">Базовый (для камчадал)</p>
            <span class="price__value">79 000 руб</span>
          </li>
          <li class="price__item">
            <p class="price__descr">Базовый + проживание</p>
            <span class="price__value">99 000 руб</span>
          </li>
          <li class="price__item">
            <p class="price__descr">Базовый + проживание + долина гейзеров</p>
            <span class="price__value">179 000 руб</span>
          </li>
        </ul>
        <ul class="price__links-list list-reset">
          <li class="price__links-item"><a href="#" class="price__link">Информация о бронях</a></li>
          <li class="price__links-item"><a href="#" class="price__link">Важная информация</a></li>
          <li class="price__links-item"><a href="#" class="price__link">Условия договора и возврата</a></li>
        </ul>
      </div>
      <div class="price__info">
        <div class="price__info-inner">
          <h3 class="price__info-title price__info-title--check">В стоимость входит</h3>
          <ul class="price__info-list list-reset">
            <li class="price__info-item">
              <p class="price__info-text">
                встреча и проводы в аэропорту
              </p>
            </li>
            <li class="price__info-item">
              <p class="price__info-text">
                питание: обеды во время экскурсий
              </p>
            </li>
            <li class="price__info-item">
              <p class="price__info-text">
                услуги гида
              </p>
            </li>
            <li class="price__info-item">
              <p class="price__info-text">
                все транспортные услуги ( автобусы, джипы-вездеходы 4WD)
              </p>
            </li>
            <li class="price__info-item">
              <p class="price__info-text">
                все указанные в программе экскурсии
              </p>
            </li>
          </ul>
        </div>
        <div class="price__info-inner">
          <h3 class="price__info-title price__info-title--price">За дополнительную плату</h3>
          <ul class="price__info-list list-reset">
            <li class="price__info-item">
              <p class="price__info-text">
                вертолётная экскурсия в Долину Гейзеров и кальдеру Узона, оплачивается в день вылета
              </p>
            </li>
            <li class="price__info-item">
              <p class="price__info-text">
                дополнительные экскурсии и опции
              </p>
            </li>
            <li class="price__info-item">
              <p class="price__info-text">
                размещение в гостинице
              </p>
            </li>
            <li class="price__info-item">
              <p class="price__info-text">
                питание(кроме обедов во время экскурсий)
              </p>
            </li>
            <li class="price__info-item">
              <p class="price__info-text">
                личные расходы
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="price__bottom">
      <div class="price__bottom-links">
        <h2 class="price__bottom-title">Онлайн-заявка</h2>
        <ul class="list-reset social" title="Ссылки на социальные сети">
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--instagram"
              aria-label="Наша страничка в Инстаграм">
              <svg>
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--fb"
              aria-label="Наша страничка в Фейсбук">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vk"
              aria-label="Наша страничка во ВКонтакте">
              <svg>
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a></li>
        </ul>
      </div>
      <div class="price__bottom-form">
        <div class="modal-booking">
          <div class="modal-booking__content">
            <form method="post" action="https://my-json-server.typicode.com/typicode/demo/posts"
              class="modal-booking__form modal-booking__form--price">
              <div class="modal-booking__person-info">
                <div class="modal-booking__person-wrapper">
                  <h3 class="modal-booking__person-title modal-booking__subtitle">Имя участника</h3>
                  <label class="modal-booking__label modal-booking__label--info">
                    <input type="text" class="modal-booking__input modal-booking__input--info input-reset" name="Имя"
                      placeholder="Имя" required>
                  </label>
                </div>
                <div class="modal-booking__person-wrapper">
                  <h3 class="modal-booking__person-title modal-booking__subtitle">Количество человек</h3>
                  <label class="modal-booking__label modal-booking__label--info">
                    <input type="number" class="modal-booking__input modal-booking__input--info input-reset"
                      name="Количество" placeholder="1" min="0" required>
                  </label>
                </div>
              </div>
              <div class="modal-booking__tariffs">
                <h3 class="modal-booking__tariffs-title modal-booking__subtitle">Тариф</h3>
                <label class="modal-booking__label modal-booking__tariffs-label">Базовый (для камчадал)
                  <input type="radio" class="modal-booking__input modal-booking__tariffs-input input-reset" name="Тариф"
                    value="Базовый (для камчадал)" required checked>
                  <span class="modal-booking__tariffs-span"></span>
                  <span class="modal-booking__tariffs-price">79 000 руб</span>
                </label>
                <label class="modal-booking__label modal-booking__tariffs-label">Базовый + проживание
                  <input checked type="radio" class="modal-booking__input modal-booking__tariffs-input input-reset" name="Тариф"
                    value="Базовый + проживание" required>
                  <span class="modal-booking__tariffs-span"></span>
                  <span class="modal-booking__tariffs-price">99 000 руб</span>
                </label>
                <label class="modal-booking__label modal-booking__tariffs-label">Базовый + проживание + долина гейзеров
                  <input type="radio" class="modal-booking__input modal-booking__tariffs-input input-reset" name="Тариф"
                    value="Базовый + проживание + долина гейзеров" required>
                  <span class="modal-booking__tariffs-span"></span>
                  <span class="modal-booking__tariffs-price">179 000 руб</span>
                </label>
              </div>
              <div class="modal-booking__date">
                <h3 class="modal-booking__date-title modal-booking__subtitle">Даты тура</h3>
                <label class="modal-booking__label modal-booking__label-date">
                  <input id="test" type="date" class="modal-booking__input modal-booking__input-date input-reset"
                    name="Дата тура" min="2024-06-23" max="2024-07-04" required>
                </label>
              </div>
              <div class="modal-booking__comment">
                <h3 class="modal-booking__comment-title modal-booking__subtitle">Комментарий</h3>
                <label class="modal-booking__label modal-booking__label--price modal-booking__label-comment">
                  <textarea class="modal-booking__textarea modal-booking__textarea--price input-reset" name="Комментарий"
                    placeholder="Введите ваш комментарий здесь"></textarea>
                </label>
              </div>
              <button class="modal-booking__btn modal-booking__btn--price btn-reset btn">Отправить заявку</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <article class="action">
      <div class="action__container">
        <picture>
          <source srcset="img/booklet.webp" type="image/webp">
          <img loading="lazy" src="img/booklet.jpg" class="image" width="" height="" alt="Буклет туриста">
        </picture>
        <div class="action__inner">
          <h3 class="action__title">
            Что нужно знать отправляясь на Камчатку?
          </h3>
          <p class="action__text">
            Получите памятку туриста просто оставив свой e-mail.
          </p>
          <form action="#" class="action__form">
            <label class="action__label">
              <input type="email" name="Email" class="input-reset action__input" placeholder="Ваш e-mail">
            </label>
            <button class="btn-reset action__btn">Получить</button>
          </form>
        </div>
      </div>
    </article>
  </div>
</section>
