<section class="second-day">
  <div class="container second-day__container">
    <div class="second-day__content text-circle">
      <h2 class="second-day__title days-title">
        <span>День 2.</span> Вилючинский водопад, вулкан и Верхне-Паратунские термальные источники
      </h2>
      <p class="second-day__content-text">
        Инструктаж перед поездкой (передвижение и поведение группы в лесу, общение с медведями, форма одежды, ), снаряжение, (взять тару для воды при заезде на Зайкин ключ, купальные принадлежности).
      </p>
      <p class="second-day__content-text">
        Сбор участников на Роуп Джамп для прыжков с высоты над водопадом. Заранее решаем кто прыгает.
      </p>
    </div>
    <div class="second-day__slider-container">
      <div class="second-day__slider-wrapper" dir="rtl">
        <div class="swiper swiper-main">
          <div class="swiper-wrapper swiper-main__wrapper second-day__swiper-wrapper">
            <div class="swiper-slide swiper-main__slide-effect second-day__slide">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/first-day/slide-1.png" alt="Горные вершины Паратунки" class="swiper-main__img" width="280"
                  height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Паратунка</p>
                <p class="swiper-main__text swiper-main__text-box--small">Бальнеологический курорт с удивительным микроклиматом.</p>
                </div>
              </button>
            </div>
            <div class="swiper-slide swiper-main__slide-effect second-day__slide">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/first-day/slide-2.png" alt="Памятник 'Здесь начинается Россия'" class="swiper-main__img" width="280"
                  height="280">
                  <div class="swiper-main__text-box swiper-main__text-box--advanced">
                    <p class="swiper-main__text">Памятник “Здесь начинается Россия”</p>
                    <p class="swiper-main__text swiper-main__text-box--small">Гости Камчатки по традиции делают фото в начале и в конце путешествий.</p>
                  </div>
              </button>
            </div>
            <div class="swiper-slide swiper-main__slide-effect second-day__slide">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/first-day/slide-1.png" alt="Горные вершины Паратунки" class="swiper-main__img" width="280"
                  height="280">
                  <div class="swiper-main__text-box swiper-main__text-box--advanced">
                    <p class="swiper-main__text">Паратунка</p>
                    <p class="swiper-main__text swiper-main__text-box--small">Бальнеологический курорт с удивительным микроклиматом.</p>
                  </div>
              </button>
            </div>
            <div class="swiper-slide swiper-main__slide-effect second-day__slide">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/first-day/slide-2.png" alt="Памятник 'Здесь начинается Россия'" class="swiper-main__img" width="280"
                  height="280">
                  <div class="swiper-main__text-box swiper-main__text-box--advanced">
                    <p class="swiper-main__text">Памятник “Здесь начинается Россия”</p>
                    <p class="swiper-main__text swiper-main__text-box--small">Гости Камчатки по традиции делают фото в начале и в конце путешествий.</p>
                  </div>
              </button>
            </div>
          </div>
          <div class="swiper-button-prev swiper-main__prev swiper-main__prev--right swiper-main__prev--black">
            <svg class="swiper-main__svg swiper-main__svg--black">
              <use xlink:href="img/sprite.svg#arrow-slide"></use>
            </svg>
          </div>
          <div class="swiper-button-next swiper-main__next swiper-main__next--right swiper-main__next--black">
            <svg class="swiper-main__svg swiper-main__svg--black">
              <use xlink:href="img/sprite.svg#arrow-slide"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="second-day__descr">
        <p class="second-day__descr-text">
          Выезд из отеля в 10.00. Переезд в верховья реки Паратунка к подножию вулкана Вилючинский. Обзорная пешеходная экскурсия к водопаду Вилючинский. Термос с чаем, шоколад. Возвращение назад.
        </p>
        <p class="second-day__descr-text">
Обед. Купание в Верхне-Паратунских термальных источниках, расположенных на склоне сопки Горячая.
        </p>
        <p class="second-day__descr-text">
          Продолжительность – 6-8 часов. Трансфер в гостиницу.
        </p>
      </div>
    </div>
  </div>
</section>
