<section class="sixth-day">
  <div class="sixth-day__container container-swiper-right">
    <div class="sixth-day__slider-container">
      <div class="sixth-day__content text-circle">
        <div class="sixth-day__content-main">
          <h2 class="sixth-day__title days-title">
            <span>День 6. </span>Берег Тихого океана, экскурсия по городу
          </h2>
          <p class="sixth-day__text days-text">
            Поездка на берег Тихого океана, в район Халактырского пляжа. Прогулка. Обед в городе. Обзорная экскурсия по г.
            Петропавловску-Камчатскому с посещением смотровых площадок. Рыбный рынок.
          </p>
          <p class="sixth-day__text days-text">
            Продолжительность -5 часов. Трансфер в гостиницу.
          </p>
        </div>
        <div class="extra-services">
          <h3 class="extra-services__title">Дополнительные услуги</h3>
          <ul class="extra-services__list list-reset">
            <li class="extra-services__item">
              <h4 class="extra-services__subtitle">Серфинг</h4>
              <p class="extra-services__text">
                Прыжки с высоты над водопадом. Записываться заранее.
              </p>
            </li>
            <li class="extra-services__item">
              <h4 class="sextra-services_subtitle">SUP борды</h4>
              <p class="extra-services__text">
                Прыжки с высоты над водопадом. Записываться заранее.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="sixth-day__slider-wrapper">
        <div class="swiper swiper-main">
          <div class="swiper-wrapper swiper-main__wrapper sixth-day__swiper-wrapper">
            <div class="swiper-slide swiper-slide--sixth-day swiper-main__slide-effect sixth-day__slide"
              data-graph-path="destination-1">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/surfing.png" alt="Горные вершины Паратунки" class="swiper-main__img"
                  width="280" height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Паратунка</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Бальнеологический курорт с удивительным
                    микроклиматом.</p>
                </div>
              </button>
            </div>
            <div class="swiper-slide swiper-main__slide-effect sixth-day__slide" data-graph-path="destination-4">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/statue.png" alt="Памятник 'Здесь начинается Россия'"
                  class="swiper-main__img" width="280" height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Памятник “Здесь начинается Россия”</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Гости Камчатки по традиции делают фото в
                    начале и в конце путешествий.</p>
                </div>
              </button>
            </div>
            <div class="swiper-slide swiper-main__slide-effect sixth-day__slide" data-graph-path="destination-1">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/paratunka-2.png" alt="Горные вершины Паратунки" class="swiper-main__img"
                  width="280" height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Паратунка</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Бальнеологический курорт с удивительным
                    микроклиматом.</p>
                </div>
              </button>
            </div>
            <div class="swiper-slide swiper-main__slide-effect sixth-day__slide" data-graph-path="destination-4">
              <button class="swiper-main__btn btn-reset">
                <img src="./img/destinations/statue.png" alt="Памятник 'Здесь начинается Россия'"
                  class="swiper-main__img" width="280" height="280">
                <div class="swiper-main__text-box swiper-main__text-box--advanced">
                  <p class="swiper-main__text">Памятник “Здесь начинается Россия”</p>
                  <p class="swiper-main__text swiper-main__text-box--small">Гости Камчатки по традиции делают фото в
                    начале и в конце путешествий.</p>
                </div>
              </button>
            </div>
          </div>
          <div class="swiper-button-prev swiper-main__prev">
            <svg class="swiper-main__svg">
              <use xlink:href="img/sprite.svg#arrow-slide"></use>
            </svg>
          </div>
          <div class="swiper-button-next swiper-main__next">
            <svg class="swiper-main__svg">
              <use xlink:href="img/sprite.svg#arrow-slide"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
