<section class="team" id="team">
  <div class="container">
    <h2 class="team__title">
      Про нашу супер крутую команду Dreamkam Tour
    </h2>
    <p class="team__text">
      Наша команда - это люди влюбленные в свою работу. Каждый из них обладает проффесиональными знаниями, хорошей физической подготовкой. Следят за вашей безпасностью в туре, и тем чтобы каждый из вас получил максимальное колличество эмоций.
    </p>
    <ul class="team__list list-reset">
      <li class="team__item">
        <picture>
          <source srcset="img/team/1.webp" type="image/webp">
          <img loading="lazy" src="img/team/1.jpg" class="image" width="352" height="466" alt="Евгений Барсуков">
        </picture>
        <p class="team__item-text">Евгений Барсуков, <span class="team__item-span">@eugen_eugen</span></p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team/2.webp" type="image/webp">
          <img loading="lazy" src="img/team/2.jpg" class="image" width="352" height="466" alt="Дмитрий Осипов,">
        </picture>
        <p class="team__item-text">Дмитрий Осипов, <span class="team__item-span">@dim_os</span></p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team/3.webp" type="image/webp">
          <img loading="lazy" src="img/team/3.jpg" class="image" width="352" height="466" alt="Алина Гончарова">
        </picture>
        <p class="team__item-text">Алина Гончарова, <span class="team__item-span">@alin_och</span></p>
      </li>
    </ul>
  </div>
</section>
